server:
  port: 9001

resilience4j:
  circuitbreaker:
    instances:
      mycmd:
        slidingWindowType: TIME_BASED
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10s

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8180/realms/hub-user

      client:
        registration:
          keycloak:
            client-id: ${KEYCLOAK_CLIENT_ID}
            client-secret: ${KEYCLOAK_CLIENT_SECRET}
            authorization-grant-type: authorization_code
            redirect-uri: "http://localhost:3000/v1/user/authorization/code"
            scope:
              - openid
              - profile
              - email

        provider:
          keycloak:
            issuer-uri: https://keycloak.code-factory.co.kr/realms/codefactory

    cloud:
      gateway:
        discovery:
          locator:
            enabled: true
            lower-case-service-id: true

        routes:
          - id: hub-service
            uri: lb://hub-service
            predicates:
              - Path=/v1/hub/**
            filters:
              - RewritePath=/v1/hub/(?<path>.*), /${path}

          - id: product-service
            uri: lb://product-service
            predicates:
              - Path=/v1/product/**
            filters:
              - RewritePath=/v1/product/(?<path>.*), /${path}

          - id: user-service
            uri: lb://user-service
            predicates:
              - Path=/v1/user/**
            filters:
              - RewritePath=/v1/user/(?<path>.*), /${path}